NODE_ENV=
PORT=
BASE_URL=
DATABASE_URL=
SESSION_SECRET=
TOKEN_SECRET=
TOKEN_EXPIRY=
ALLOWED_ORIGINS=
OPENAI_API_KEY=
VECTOR_STORE_ID=
ASSISTANT_ID=
TAVILY_API_KEY=
TRELLO_API_KEY=
TRELLO_TOKEN=
NUSA_API_KEY=
NUXT_PUBLIC_SENTRY_DSN=
NUXT_PUBLIC_ENVIRONMENT=
NUXT_PUBLIC_SENTRY_SAMPLE_RATE=
NUXT_PUBLIC_IS_SHUTDOWN=
RAILWAY_SECRET_KEY=
ABLY_API_KEY=